{% extends 'blog/base.html'%}

{% block title %}
   {{ post.title }} | {{ block.super }}
{% endblock %}

{% block content %}
  <h3>{{ post.title }}</h3>
  <small>Created by : {{ post.author }}</small>
  <hr>
  <p>{{ post.body }}</p>

  <div class="row gallery">
         {% for p in post.images_set.all %}
          <div class="col-md-3">
            <img src="{{ p.image.url }}" alt="image" class="thumb" style="width: 250px; height: 250px;">
          </div>
          {% empty %}
            <small> select  image </small>
         {% endfor %}

  </div>

  <div id="like-section">
    {% include 'blog/like_section.html'%}
  </div>

  {% if post.author == request.user %}
  <div class="section-1" style="float: right;">
           <a href="{% url 'blog:edit_post' id=post.id %}">
             <button type="button" class="btn btn-outline-success">update</button>
           </a>
           <a href="{% url 'blog:delete_post' id=post.id %}">
            <button type="button" class="btn btn-outline-danger" id="delete_btn" >Delete</button>
          </a>
  </div>
  {% endif %}

{% endblock %}
